html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.container {
    margin: auto;
    text-align: center;
}

.li {
   text-decoration: none; 
   border: 4px;
}

img {
  width: 200px;
  height: 100px;
}


.row {
    display: flex;
    justify-content: space-around;
}

.list-group {
  margin: 20px 0;
  list-style-type: none;
  border: 4px, black;
  text-align: left;

  .list-group-item {
    cursor: pointer;
    margin: 2px;
    
    &:hover,
    &:focus {
      background-color: rgba(2, 117, 216, 0.6);
      transition: all 0.250s cubic-bezier(0.4, 0, 0.2, 1);

    }
  }

}

.card {
  margin: 20px 0;
    padding: 10px
}